<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hospital.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patient">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patient account 
            </NavLink>
        </div>
       
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="record">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patient visit record
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patient list 
            </NavLink>
        </div>
    </nav>
</div>